#DB
DB_HOST=
DB_NAME=
DB_PASS=
DB_USER=

#Telegram
TELEGRAM_MAX_MESSAGE_LENGTH=4000
TELEGRAM_TIMEOUT_TO_AUTOREMOVE_MESSAGE=10000
TELEGRAM_TIMEOUT_TO_DELETE_QUESTION=10000
TOKEN=

#AI
AI_URL=https://api.deepseek.com
API_KEY=
AI_CHAT_MODEL=deepseek-chat
AI_REASON_MODEL=deepseek-reasoner
DEEPSEEK_API_KEY=
OPENAI_API_KEY=
GROC_APY_KEY=
AI_HISTORY_MESSAGES_MAX_LENGTH=1000